* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #effcff;

}

body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin: auto;
}

.aire {
    margin: 1rem 0;
}

p{
    font-size: 18px;
    color: #effcff;
}

.menu{
    justify-content:flex-end;
}
img {
    max-width: 100%;
}

#logo {
    background-repeat: no-repeat;
    font-size: 0;
    width: 5rem;
    height: 6rem;
    margin: 0.5rem 1rem 1rem 0.5rem;
    display: inline-flex;
}

#main-header {
    padding: 1em;
    background-color: #000;
    color: #fafafa;
}

#main-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    background-color: #000;
}

#main-nav ul li {
    padding: 1vw;
}

#main-nav ul li a {
    display: block;
    color: #eff;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    color: #effcff;
    padding: 30px;
}

#paquetes{
    margin: 0;
}

h2, h3 {
    margin: .75em 0;
    display: inline-block;
}

#main-footer {
    color: #effcff;
    padding: 1vw;
    text-align: center;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

#home {
    text-align: left;
}

#home p{
    text-align: left;
}

.enviar {
    background-color: #000;
}

input, textarea {
    margin: 2px;    
}

.detalle {
    display: block;
}

.intro {
    text-align: justify;
}


@media all and (min-width: 68.75em) {
    #main-header,
    #main-nav,
    #main-content,
    #main-footer {
        max-width: 1500px;
        margin: auto;
    }

    #main-content {
        align-items: flex-start;
    }

    #paquetes{
        margin: 0;
    }
}